*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    background-image: url(images/icenter.jpg);
    background-size: cover;
    background-position: center;
}
#ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9, #ch10, #ch11{
    display: none;
}
#ch1:checked ~ .content, #ch2:checked ~ .content, #ch3:checked ~ .content, #ch4:checked ~ .content, #ch5:checked ~ .content, #ch6:checked ~ .content, #ch7:checked ~ .content, #ch8:checked ~ .content, #ch9:checked ~ .content, #ch10:checked ~ .content, #ch11:checked ~ .content{
    display: block;
}

#ch1:checked ~ label, #ch2:checked ~ label, #ch3:checked ~ label, #ch4:checked ~ label, #ch5:checked ~ label, #ch6:checked ~ label, #ch7:checked ~ label, #ch8:checked ~ label, #ch9:checked ~ label, #ch10:checked ~ label, #ch11:checked ~ label{
    display: none;
}
.content{
    display: none;
}
.school{
    background-color: #dddde6;
    width: 250px;
    padding: 3px;
    border-radius: 5px;
}
.content p{
    margin-top: 5px;
}
.card{
    margin: 0 auto;
    position: relative;
    display: block;
    background-color: #f1ebeb;
    width: 400px;
    padding: 22px 20px;
    border-radius: 5px;
    line-height: 1.3;
    color: black;
    margin-top: 10px;
    

}
.image{
    float: right;
    border-radius: 5px;
    overflow: hidden;
}
label{
    display: inline-flex;
    cursor: pointer;
    color: #fff;
    background-color: #626dd1;
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 10px;
}
.contact{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #dddde6;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
    
}

.contact:hover{
    transform: translateX(10px);
    color: blue;
    transition: 1s;
}
label:hover{
    color: #86ec57;
    transition: .5s;
    transform: translateX(10px);
}
.card:hover{
    border-color: black;
    border-style: solid;
}
@media screen and (max-width:600px) {
    .card{
        width: auto;
        margin-left: 45px;
        margin-right: 45px;
    }
    .school{
        height: 50px;
        width: 90px; 
        font-size: 12px;    
    }
    .image{
        margin-top: 10px;
         height: 92px;
    }
    h2{
        font-size: 20px;
    }

}